body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    border-radius: 45px;
    box-shadow:23px;
    background-color: rgb(149, 138, 168);
   


    
}
input {
    padding: 8px;
    margin: 10px;
    font-weight: 800px;
    color: brown;
    font-size:x-large;
}
#result {
    margin-top: 20px;
    font-weight: 400px;
    font-size: x-large;
}
img{
    margin-top: 10px;
    paint-order: markers;
    padding-top: 10px;
}
